.idea/
imperfectgamers-dev/vendor
/imperfectgamers-dev/bans/bansmodule/
/imperfectgamers-dev/bans/
/imperfectgamers-dev/stats/conn.php
/imperfectgamers-dev/stats/conn.php/
/imperfectgamers-dev/stats/conn.php
/imperfectgamers-dev/stats/conn.php/
/imperfectgamers-dev/bans/demos/
/imperfectgamers-dev/bans/
/imperfectgamers/root/bans/
# Ignore everything under "Store"
imperfectgamers-dev/shop/*
#but don't ignore "imperfectgamers/store/index.php"
!imperfectgamers-dev/shop/index.php/
#but make sure config.php is ignored
imperfectgamers-dev/shop/config.php/
# But don't ignore "store/inc"
!imperfectgamers-dev/shop/inc/
# but ignore everything under store/inc/
imperfectgamers-dev/shop/inc/*/
#but don't ignore "store/inc/classes"
!imperfectgamers-dev/shop/inc/classes/
#but ignore everything under "store/inc/classes"
imperfectgamers-dev/shop/inc/classes/*/
/imperfectgamers-dev/apply/
/imperfectgamers-dev/CRUDold/
/imperfectgamers-dev/stats/
