<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Imperfect Gamers</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="layout">
    <div id="menu">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {% for item in menuItems %}
                <li class="pure-menu-item"><a href="{{ item['href'] }}" class="pure-menu-link">{{ item['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>